@import 'variables';
@import 'usability';
@import 'window';

body {
  height: 100%;
  font-size: 16px;
  background-color: white;
  color: black;
  user-select: none;
  overflow: hidden;
  font-family: $font-Mont;

  h1 {
    margin: 0;
  }
}
#window {
  height: 95vh;
  width: 100%;
  display: flex;
}
