#status_bar {
  display: flex;
  height: 5vh;
  background-color: $black;
  color: white;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  -webkit-app-region: drag;
  #status_status {
    padding-left: 5px;
    font-size: 14px;
    font-family: $font-Mont;
  }
}
