@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap");
$red: #cc4a4a;
$black: #212121;
$gray: #3e3e3e;
$green: #3ba33b;
$yellow: #ccc84a;
$font-BahnSC: Didact Gothic;
$font-Bahn: Didact Gothic;
$font-Mont: Montserrat;
